<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="MyModule" id="MyModule">
            <module name="Ereactor_MyModule"/>
        </route>
    </router>
</config>